# Default Postgres User
POSTGRES_NAME=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres
PGDATA=/var/lib/postgresql/data/metabase

# Added new Metabase User
METABASE_DB_TYPE=postgres
METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=
METABASE_DB_NAME=metabase
METABASE_DB_HOST=postgres
METABASE_DB_PORT=5432
